h1{
    color: brown;
    background-color: black;
}
p{
    color: blue;
}
ol{
    color: red;
}
main{
    color: darkviolet;
}
table{
    color: crimson;
}
h2{
    color: chocolate;
}
ul{
    color: indianred;
}